
.flex.items-center.justify-center.mt-16.p-8
  .max-w-screen-lg.w-full
    h2.text-7xl.font-bold.text-yellow-500
      a(href='#intro') Project 3
    hr.my-4.border-t-4.border-yellow-500
    .w-full.mt-16.flex.justify-end
      .h-80.border-4.border-yellow-500(class='w-1/2')
    .w-full.mt-24.flex.justify-start
      div.max-w-xl.space-y-8
        p Swab yardarm red ensign mizzenmast topgallant reef sails chandler aye barkadeer scuttle. Man-of-war barque keelhaul broadside matey salmagundi hang the jib Davy Jones' Locker me quarter. Maroon transom scuttle killick lass reef sails gangway Yellow Jack Jack Tar bilge. Pieces of Eight carouser nipper avast ye hardtack walk the plank provost Sea Legs jib.
        p Cat o'nine tails plunder starboard poop deck long clothes squiffy cutlass Yellow Jack piracy Pieces of Eight. Hail-shot broadside chase guns run a rig scallywag piracy cackle fruit long clothes Nelsons folly Privateer. Grapple pressgang bilge rat scurvy Shiver me timbers matey lee chantey Chain Shot scourge of the seven seas. Strike colors bowsprit grog starboard pirate pinnace gun belay holystone clap of thunder.
