@font-face
	font-family 'audimat'
	src url('../assets/fonts/audimat.eot')
	src url('../assets/fonts/audimat.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/audimat.woff2') format('woff2'),
       url('../assets/fonts/audimat.woff') format('woff'),
       url('../assets/fonts/audimat.ttf') format('truetype'),
       url('../assets/fonts/audimat.svg#audimat_monolight') format('svg')
	font-weight normal
	font-style normal
