@tailwind base;
@tailwind components;
@tailwind utilities;

@import './snap-logo.styl'
@import './font.styl'

body
	background rgb(22,22,22)
	background linear-gradient(45deg, rgba(22,22,22,1) 0%,rgba(44,44,44,1) 100%)

main
	& > section
		min-height 100vh
