@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'locomotive-scroll/dist/locomotive-scroll.css'
@import './snap-logo.styl'
@import './font.styl'

body
	background rgb(22,22,22)
	overflow hidden
